<form class="{{cssClass}} flexcol crows-loot-sheet" autocomplete="off">
  <header class="sheet-header flexrow scene-item" {{#if canPickup}}draggable="true"{{/if}}>
    <img class="profile-img" src="{{publicImage}}" />
    {{#if isGM}}<h1><input name="name" value="{{publicName}}" /></h1>{{else}}<h1>{{publicName}}</h1>{{/if}}
  </header>
  <section class="loot-description">{{{enrichedDescription}}}</section>
  {{#if canPickup}}<button type="button" class="pickup-object player-action">Pick up {{publicName}}</button>{{/if}}
  {{#if isGM}}
  {{#if root}}<button type="button" class="edit-object">Edit item</button>{{else}}
  <label>Description <textarea name="system.description">{{system.description}}</textarea></label>
  <button type="button" class="item-create">Create item</button>{{/if}}
  {{/if}}
</form>
